:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: #0d1125;
     }
    header {
    background-color: var(--secondary-color);
    color: rgb(194, 125, 60);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    }

  header ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    }
  
  header li {
    margin-right: 1rem;
  }

   a {
     color: var(--secondary-color);
     text-decoration: none;
     transition: color 0.2s ease-in-out;
     background-color: rgb(214, 188, 69);
     color: #ffffff;
     display: block;
     font-family: 'Pontano Sans',sans-serif;
     font-size: 16px;
     padding: 14px;
     text-align: center;
     text-transform: uppercase;
     }
  
     a:hover {
     color: var(--primary-color);
     text-decoration: underline;
     }

    @media only screen and (max-width: 768px) {
        }
      
        header {
          flex-direction: column;
          text-align: center;
        }
      
        header ul {
          justify-content: center;
          margin-bottom: 0.5rem;
        }
      
      .marker-content {
        background-color: rgb(0, 0, 0);
        color: black;
        padding: 0.5rem;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(78, 77, 77, 0.3);
      }
      
      .marker-content h2 {
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
      
      .marker-content p {
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
        header p {
            margin-top: 0.5rem;
            }
            
            @media only screen and (min-width: 769px) {
            header ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            }
            
            header li {
            margin-right: 0;
            }
            
            header p {
            margin-top: 0;
            }
            }
            
            .marker-content {
            display: none;
            }
            
            .marker:hover .marker-content {
            display: block;
            position: absolute;
            top: 50px;
            left: 0;
            z-index: 100;
            }