body {
  background: linear-gradient(to bottom, #1c2331, #462a6a);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom right, #292d3e, #746fb0);
  height: 80px;
}

.banner-logo {
  display: flex;
  align-items: center;
}

.banner-logo img {
  height: 50px;
  margin-right: 10px;
}

.banner-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.banner-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.about {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
}

.about h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about li {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.about li:before {
  content: "•";
  color: #292d3e;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}