body {
	margin: 0;
	padding: 0;
}

.background {
	background-image: url('../Capstone-Project/images/nea2.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	text-align: center;
	color: #ffffff;
}

h1 {
	font-size: 5em;
	margin: 0;
	padding: 0;
}

p {
	font-size: 2em;
	margin: 0;
	padding: 0;
}

.button {
	display: inline-block;
	font-size: 1.5em;
	padding: 0.5em 1em;
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 1em;
}