:root {
    --primary-color: rgb(214, 188, 69);
    --secondary-color: #0d1125;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primary-color);
    color: rgb(214, 188, 69);
  }
  
  header img {
    height: 50px;
    width: auto;
  }
  
  header h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  header p {
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
  }
  
  a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  main {
    height: calc(100vh - 150px);
    width: 100%;
  }
  
  #map {
    height: 100%;
    width: 100%;
  }
  
  footer {
    background-color: var(--secondary-color);
    color: rgb(194, 125, 60);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  footer li {
    margin-right: 1rem;
  }
  
  @media only screen and (max-width: 768px) {
    header h1 {
      font-size: 1.5rem;
    }
  
    header p {
      font-size: 0.8rem;
    }
  
    footer {
      flex-direction: column;
      text-align: center;
    }
  
    footer ul {
      justify-content: center;
      margin-bottom: 0.5rem;
    }
  }
  
  .marker-content {
    background-color: rgb(0, 0, 0);
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(78, 77, 77, 0.3);
  }
  
  .marker-content h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  .marker-content p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
    footer p {
        margin-top: 0.5rem;
        }
        
        @media only screen and (min-width: 769px) {
        footer ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        }
        
        footer li {
        margin-right: 0;
        }
        
        footer p {
        margin-top: 0;
        }
        }
        
        .marker-content {
        display: none;
        }
        
        .marker:hover .marker-content {
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 100;
        }